$orange: #fa7312;
$white: #fff;
$l-grey: #949DAB;
$m-grey: #7D8899;
$d-grey: #2d3441;
$dark-blue: #262E38;
$very-dark-blue: #121417;

// $grad-mgrey-dblue: radial-gradient(circle, rgba(51,56,63,1) 0%, rgba(38,46,56,1) 100%);

$font-text: 1rem;